autopep8==1.6.0
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
click==8.0.3
colorama==0.4.4
distlib==0.3.4
filelock==3.4.0
flake8==4.0.1
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mccabe==0.6.1
pep8==1.7.1
pipenv==2021.11.23
platformdirs==2.4.0
pycodestyle==2.8.0
pyflakes==2.4.0
six==1.16.0
toml==0.10.2
virtualenv==20.10.0
virtualenv-clone==0.5.7
Werkzeug==2.0.2
